@use './variables' as *;


/* Animations */

/* board */
@keyframes symbol-pop {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  70% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes line-grow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* status*/
@keyframes pulse-dim {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

@keyframes winner-glow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes draw-pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}

/* title */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
    text-shadow:
      0 0 5px #fff,
      0 0 15px $neon,
      0 0 30px $neon,
      0 0 60px $neon,
      0 0 100px $neon;
  }

  20%,
  24%,
  55% {
    opacity: 0.4;
    text-shadow: none;
  }
}